<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation" ng-controller="HeaderCtrl">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">bookshelf</a>
		</div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav nav-pills navbar-right">
			  <li ng-class="{active: isPath('/')}"><a href="/#/">Home</a></li>
			  <li ng-class="{active: isPath('/user/login')}"><a href="/#/user/login">Login</a></li>
			  <li ng-class="{active: isPath('/private'), disabled: isLoggedIn()}"><a href="/#/private">Private</a></li>
			  <li ng-class="{active: isPath('/user/logout'), disabled: isLoggedIn()}"><a href="/#/user/logout">Logout</a></li>
			</ul>
		</div>
	</div>
</nav>